/* Media Queries Maximum Width: 1100px */

@media only screen and (max-width: 1100px) {
    /* Menu Button */
    .navbar {
        height: 50px;
    }

    .genTitle {
        top: 50px;
    }
    .genTitle2{
        top: 50px;
    }
    .menu {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        width: 35px;
        user-select: none;
    }

    .line {
        fill: none;
        stroke: white;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }

    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }

    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }

    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }

    .categories {
        display: none;
    }

    /* Opening the Menu */
    .menuOptionCont {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0px;
        background-color: rgb(10, 10, 10);
        z-index: 10;
        position: absolute;
        top: 100%;
        height: 300px;
        animation-name: closeMenu;
        animation-duration: 300ms;
    }

    .menuOptionContOpen {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 240px;
        background-color: rgb(10, 10, 10);
        z-index: 10;
        position: absolute;
        top: 100%;
        height: 300px;
        animation-name: openMenu;
        animation-duration: 300ms;
    }

    .subMenuItem {
        height: 45px;
        text-decoration: none;
        color: white;
        border-bottom: 2px solid white;
        width: 200px;
        text-align: center;
        padding-top: 24px;
        animation-name: fadeSubMenu;
        animation-duration: 1s;
    }

    .subMenuItem:last-child {
        border-bottom: 0px;
    }

    .subMenuItem:visited {
        color: white;
    }

    .menuOptionBox {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    /* Animation */
    @keyframes openMenu {
        from {
            width: 0px;
        }

        to {
            width: 240px;
        }
    }

    @keyframes closeMenu {
        from {
            width: 240px;
        }

        to {
            width: 0px;
        }
    }

    @keyframes fadeSubMenu {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: 700px) {
    .magnifyingGlass {
        display: block;
        height: 23px;
        position: relative;
        right: 5px;
    }

    .searchCont {
        display: none;
    }

    .title {
        font-size: 21px;
        width: 140px;
    }

    .genTitle {
        height: 30px;
        font-size: 20px;
    }
    .genTitle2{
        top: 30px;
    }
}


/* Carousel */
@media only screen and (850px<=width<=1100px) {

    .carousel {
        height: 500px;
    }

    .carou {
        height: 500px;
    }

    .carouName {
        font-size: 50px;
    }

    .carouDesc {
        font-size: 15px;
        width: 80%;
    }

    .caroudate {
        font-size: 17px;
    }

    .carouRating {
        font-size: 17px;
    }
    .carouText{
        left: 25px;
        bottom: 40px;
    }
    .carousel .control-dots .dot{
        margin: 0px 7px;
        width: 7px;
        height: 7px;
    }

    /* Card */
    .row {
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        row-gap:20px;
        column-gap:10px;
    }
    .myCard {
        width: 190px;
        height: 270px;
    }
    .myCard:hover {
        width: 200px;
        height: 290px;
    }
    .myCardCont{
        height: 300px;
    }
    .movieTitle{
        font-size: 13px;
    }
    .cont{
        padding: 25px;
    }
    .genTitle2{
        font-size: 22px;
    }
}

@media only screen and (600px<=width<=850px) {
    .genTitle2{
        font-size: 20px;
    }
    .carousel {
        height: 400px;
    }

    .carou {
        height: 400px;
    }

    .carouName {
        font-size: 45px;
    }

    .carouDesc {
        font-size: 12px;
        width: 85%;
    }

    .caroudate {
        font-size: 15px;
    }

    .carouRating {
        font-size: 15px;
    }
    .carouText{
        left: 25px;
        bottom: 40px;
    }
    .carousel .control-dots .dot{
        margin: 0px 6px;
        width: 6px;
        height: 6px;
    }

    /* Card */
    .row {
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        row-gap:20px;
        column-gap:7px;
    }
    .myCard {
        width: 165px;
        height: 260px;
    }
    .myCard:hover {
        width: 175px;
        height: 280px;
    }
    .myCardCont{
        height: 290px;
    }
    .movieTitle{
        font-size: 13px;
    }
    .cont{
        padding: 22px;
    }
}
@media only screen and (500px<=width<=600px){
    .genTitle2{
        font-size: 17px;
    }
    .carousel {
        height: 350px;
    }

    .carou {
        height: 350px;
    }

    .carouName {
        font-size: 35px;
    }

    .carouDesc {
        font-size: 11px;
        width: 95%;
    }

    .caroudate {
        font-size: 14px;
    }

    .carouRating {
        font-size: 14px;
    }
    .carouText{
        left: 25px;
        bottom: 40px;
    }
    .carousel .control-dots .dot{
        margin: 0px 6px;
        width: 6px;
        height: 6px;
    }

    /* Card */
    .row {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        row-gap:10px;
        column-gap:5px;
    }
    .myCard {
        width: 145px;
        height: 220px;
    }
    .myCard:hover {
        width: 150px;
        height: 230px;
    }
    .myCardCont{
        height: 250px;
    }
    .movieTitle{
        font-size: 12px;
    }
    .cont{
        padding: 20px;
    }
}
@media only screen and (400px<=width<=500px){
    .genTitle2{
        font-size: 14px;
    }
    .carousel {
        height: 300px;
    }

    .carou {
        height: 300px;
    }

    .carouName {
        font-size: 20px;
    }

    .carouDesc {
        font-size: 9px;
        width: 95%;
        margin-right: 15px;
    }

    .caroudate {
        font-size: 13px;
    }

    .carouRating {
        font-size: 13px;
    }
    .carouText{
        left: 25px;
        bottom: 40px;
    }
    .carousel .control-dots .dot{
        margin: 0px 5px;
        width: 5px;
        height: 5px;
    }

    /* Card */
    .row {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        row-gap:10px;
        column-gap:5px;
    }
    .myCard {
        width: 145px;
        height: 220px;
    }
    .myCard:hover {
        width: 150px;
        height: 230px;
    }
    .myCardCont{
        height: 250px;
    }
    .movieTitle{
        font-size: 12px;
    }
    .cont{
        padding: 15px;
    }
}
@media only screen and (width<=400px){
    .genTitle2{
        font-size: 12px;
    }
    .carousel {
        height: 270px;
    }

    .carou {
        height: 270px;
    }

    .carouName {
        font-size: 20px;
    }

    .carouDesc {
        font-size: 9px;
        width: 95%;
        margin-right: 15px;
        display: none;
    }

    .caroudate {
        font-size: 13px;
    }

    .carouRating {
        font-size: 13px;
    }
    .carouText{
        left: 25px;
        bottom: 40px;
    }
    .carousel .control-dots .dot{
        margin: 0px 4px;
        width: 4px;
        height: 4px;
    }

    /* Card */
    .row {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        row-gap:10px;
        column-gap:5px;
    }
    .myCard {
        width: 145px;
        height: 220px;
    }
    .myCard:hover {
        width: 150px;
        height: 230px;
    }
    .myCardCont{
        height: 250px;
    }
    .movieTitle{
        font-size: 12px;
    }
    .cont{
        padding: 5px;
    }
}


/* Movie Details Media Queries */
@media only screen and (1200px<=width<=1400px){
    .backDropImg{
        width: 83%;
    }
    .detailsImageCont{
        width: 290px;
        height: 390px;
    }
    .posterImg{
        width: 290px;
        height: 390px;
    }
    .play{
        width: 60px;
        height: 60px;
    }
    .movieDetails{
        width: 83%;
    }
    .movieDetailsbox11{
        height: 195px;
    }
    .movieDetailsbox12{
        height: 195px;
    }
    .movieDetailsDesc {
        font-size: 15px;
    }
    .detailSimilarCont {
        height: 345px;
    }
    .detailsBox {
        height: 730px;
    }
}
@media only screen and (900px<=width<=1200px){
    .backDropImg{
        width: 90%;
    }
    .detailsImageCont{
        width: 250px;
        height: 350px;
    }
    .posterImg{
        width: 250px;
        height: 350px;
    }
    .play{
        width: 55px;
        height: 55px;
    }
    .movieDetails{
        width: 90%;
    }
    .movieDetailsbox11{
        height: 175px;
    }
    .movieDetailsbox12{
        height: 175px;
    }
    .movieDetailsDesc {
        font-size: 15px;
    }
    .detailSimilarCont {
        height: 330px;
    }
    .detailsBox {
        height: 710px;
    }
    .detailsBackdropImages {
        width: 250px;
        height: 170px;
    }
    .detailImagesCont{
        width: 90%;
    }
    .detailSimilarMov {
        width: 90%;
        margin-top: 20px;
    }
    .movieDetailsTitle{
        font-size: 27px;
    }
    .movieDetailsTag {
        font-size: 20px;
    }
    .movieDetailsGenCont{
        margin: 0px;
    }
    .movieDetailsRat{
        margin: 0px;
    }
    .movieDetailsDate{
        margin: 0px;
    }
    .movieDetailsStatus{
        margin: 0px;
    }
    .movieDetailsDesc{
        font-size: 14px;
    }
}
@media only screen and (720px<=width<=900px){
    .backDropImg{
        width: 100%;
    }
    .detailsImageCont{
        width: 230px;
        height: 330px;
    }
    .posterImg{
        width: 230px;
        height: 330px;
    }
    .play{
        width: 40px;
        height: 40px;
    }
    .movieDetails{
        width: 100%;
    }
    .backDropImg{
        height: 460px;
    }
    .movieDetailsbox11{
        height: 165px;
    }
    .movieDetailsbox12{
        height: 165px;
    }
    .movieDetailsDesc {
        font-size: 14px;
    }
    .detailSimilarCont {
        height: 310px;
    }
    .detailsBox {
        height: 650px;
    }
    .detailsBackdropImages {
        width: 210px;
        height: 150px;
    }
    .detailImagesCont{
        width: 95%;
    }
    .detailSimilarMov {
        width: 95%;
        margin-top: 0px;
    }
    .productionComp{
        font-size: 16px;
        width: 90%;
    }
    .moreMovieDetails{
        font-size: 16px;
        width: 90%;
    }
    .movieDetailsTitle{
        font-size: 27px;
    }
    .movieDetailsTag {
        font-size: 20px;
    }
    .movieDetailsGenCont{
        margin: 0px;
    }
    .movieDetailsRat{
        margin: 0px;
    }
    .movieDetailsDate{
        margin: 0px;
    }
    .movieDetailsStatus{
        margin: 0px;
    }
    .movieDetailsDesc{
        font-size: 14px;
    }
}
@media only screen and (600px<=width<=720px){
    .backDropImg{
        width: 100%;
        height: 390px;
    }
    .detailsImageCont{
        width: 180px;
        height: 280px;
    }
    .posterImg{
        width: 180px;
        height: 280px;
    }
    .play{
        width: 40px;
        height: 40px;
    }
    .movieDetails{
        width: 100%;
        top: 230px;
    }
    .movieDetailsbox11{
        height: 140px;
    }
    .movieDetailsbox12{
        height: 140px;
    }
    .movieDetailsDesc {
        font-size: 14px;
    }
    .detailSimilarCont {
        height: 310px;
    }
    .detailsBox {
        height: 530px;
    }
    .detailsBackdropImages {
        width: 180px;
        height: 120px;
    }
    .detailImagesCont{
        width: 95%;
    }
    .detailSimilarTitle{
        font-size: 18px;
    }
    .detailSimilarMov {
        width: 95%;
        margin-top: 0px;
    }
    .detailSimilarCont{
        padding-top: 0px;
    }
    .productionComp{
        font-size: 14px;
        width: 90%;
    }
    .moreMovieDetails{
        font-size: 14px;
        width: 90%;
    }
    .movieDetailsTitle{
        font-size: 20px;
    }
    .movieDetailsTag {
        font-size: 17px;
    }
    .movieDetailsGen{
        margin: 0px 5px 0px 0px;
    }
    .movieDetailsGenCont{
        margin: 0px;
    }
    .movieDetailsRat{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsDate{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsStatus{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsLink{
        font-size: 14px;
    }
    .movieDetailsDesc{
        font-size: 12px;
    }
}

@media only screen and (400px<=width<=600px){
    .backDropImg{
        width: 100%;
        height: 320px;
    }
    .detailsImageCont{
        width: 200px;
        height: 290px;
    }
    .posterImg{
        width: 200px;
        height: 290px;
    }
    .posterCont{
        width: 100%;
    }
    .play{
        width: 40px;
        height: 40px;
    }
    .movieDetails{
        width: 100%;
        top: 165px;
        align-items: center;
        flex-direction: column;
    }
    .movieDetailsbox1{
        width: 95%;
        margin-top: 20px;
    }
    .movieDetailsbox11{
        height: max-content;
        text-align: center;
    }
    .movieDetailsbox12{
        height: max-content;
        text-align: center;
    }
    .movieDetailsDesc {
        font-size: 14px;
    }
    .detailsBox {
        height: 710px;
    }
    .detailsBackdropImages {
        width: 180px;
        height: 120px;
    }
    .detailImagesCont{
        width: 95%;
    }
    .detailSimilarTitle{
        font-size: 18px;
    }
    .detailSimilarMov {
        width: 95%;
        margin-top: 0px;
    }
    .detailSimilarCont{
        padding-top: 0px;
        height: 260px;
    }
    .productionComp{
        font-size: 14px;
        width: 90%;
    }
    .moreMovieDetails{
        font-size: 14px;
        width: 90%;
    }
    .movieDetailsTitle{
        font-size: 20px;
    }
    .movieDetailsTag {
        font-size: 17px;
    }
    .movieDetailsGen{
        margin: 0px 5px 0px 0px;
    }
    .movieDetailsGenCont{
        margin: 0px;
        justify-content: center;
    }
    .movieDetailsRat{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsDate{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsStatus{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsLink{
        font-size: 14px;
    }
    .movieDetailsDesc{
        font-size: 12px;
    }
}
@media only screen and (width<=400px){
    .backDropImg{
        width: 100%;
        height: 240px;
    }
    .detailsImageCont{
        width: 190px;
        height: 270px;
    }
    .posterImg{
        width: 190px;
        height: 270px;
    }
    .posterCont{
        width: 100%;
    }
    .play{
        width: 40px;
        height: 40px;
    }
    .movieDetails{
        width: 100%;
        top: 110px;
        align-items: center;
        flex-direction: column;
    }
    .movieDetailsbox1{
        width: 95%;
        margin-top: 20px;
    }
    .movieDetailsbox11{
        height: max-content;
        text-align: center;
    }
    .movieDetailsbox12{
        height : max-content;
        text-align: center;
    }
    .movieDetailsDesc {
        font-size: 14px;
    }
    .detailsBox {
        height: 710px;
    }
    .detailsBackdropImages {
        width: 180px;
        height: 120px;
    }
    .detailImagesCont{
        width: 95%;
    }
    .detailSimilarTitle{
        font-size: 18px;
    }
    .detailSimilarMov {
        width: 95%;
        margin-top: 0px;
    }
    .detailSimilarCont{
        padding-top: 0px;
        height: 260px;
    }
    .productionComp{
        font-size: 14px;
        width: 90%;
    }
    .moreMovieDetails{
        font-size: 14px;
        width: 90%;
    }
    .movieDetailsTitle{
        font-size: 20px;
    }
    .movieDetailsTag {
        font-size: 17px;
    }
    .movieDetailsGen{
        margin: 0px 5px 0px 0px;
    }
    .movieDetailsGenCont{
        margin: 0px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .movieDetailsRat{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsDate{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsStatus{
        margin: 0px;
        font-size: 15px;
    }
    .movieDetailsLink{
        font-size: 14px;
    }
    .movieDetailsDesc{
        font-size: 12px;
    }
}